.sidebar-dark .nav-item .nav-link {
    font-weight: 700;
    color: #ffffff;
}

.badge, .btn, .form-control, .form-control-sm, .page-link, .rounded {
    border-radius: 0px !important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    border-radius: 0px !important;
}

.mg-t-30 {
    margin-top: 30px;
}

.custom-card-body {
    padding: 10px;
}

.my-custom-badge {
    color: #ffffff;
    padding: 5px;
    font-size: 15px;
    font-weight: bolder;
}

.progress {
    height: 2rem;
    border-radius: 0px;
}